$background-cloud:rgb(251, 250, 250);
@mixin cloudCircle($width, $height, $marginLeft, $marginTop) {
    width: $width;
    height: $height;
    margin-left: $marginLeft;
    margin-top: $marginTop;
}

@mixin container($width, $height) {
    width: $width;
    height: $height;
    position: fixed;
    display: block;
}

.container {
    @include container(100%, 25rem);
    &__cloud {
        @include container(3.75rem, 1.875rem);
        border-radius: 1.875rem;
       
        &:nth-child(1) {
            margin-left: 9.375rem;
            background-color: $background-cloud;
            bottom: 28.125rem;
            animation: slide1 50s ease-in-out alternate infinite;
            
        }
        &:nth-child(2) {
            transform: scale(0.8);
            background-color: $background-cloud;
            bottom: 34.375rem;
            animation: slide2 45s ease-in-out alternate infinite;
             @media screen and (width > 1700px) {
                margin-left: 20rem;
                bottom: 38rem;
                transform: scale(1.2); 
            }
        }
        &:nth-child(3) {
            transform: scale(0.6);
            background-color: $background-cloud;
            bottom: 40.625rem;
            right: 5rem;
            animation: slide3 55s ease-in-out alternate infinite;
            @media screen and (width > 1700px) {
                margin-left: 20rem;
                bottom: 48rem;
                transform: scale(1.6); 
            }
        }
        &__circle {
            &:nth-child(1) {
                @include cloudCircle(1.875rem, 1.875rem, 2.375rem, -0.5rem);
            }
            &:nth-child(2) {
                @include cloudCircle(0, 0, 3rem, 0.3125rem);
            }
            &:nth-child(3) {
                @include cloudCircle(1.875rem, 1.875rem, 1.125rem, -1.125rem);
            }
            &:nth-child(4) {
                @include cloudCircle(1.875rem, 1.875rem, -0.8125rem, 0);
            }
            &:nth-child(5) {
                @include cloudCircle(1.875rem, 1.875rem, 0, -0.9375rem);
            }
        }
        &__base {
            border-radius: 50%;
            background-color: $background-cloud;
            @include container(1.5625rem, 1.5625rem);
        }
    }
}

@keyframes slide2 {
    from {
        margin-right: 2.5rem;
    }
    to {
        margin-left: 75rem;
    }
}

@keyframes slide1 {
    from {
        margin-left: 15rem;
    }
    to {
        margin-left: 100rem;
    }
}

@keyframes slide3 {
    from {
        margin-right: 5rem;
    }
    to {
        margin-right: 100rem;
    }
}