$background-leaf: rgb(6, 62, 6);
$background-trunk:rgb(109, 32, 32);
@mixin containThreeLeaf($marginTop, $marginLeft) {
    margin-top: $marginTop;
    margin-left: $marginLeft;
}

@mixin baseTree($transform, $bottom) {
    transform: $transform;
    bottom: $bottom;
}

@mixin containerDefault($display, $width, $height, $zIndex) {
    position: fixed;
    display: $display;
    width: $width;
    height: $height;
    z-index: $zIndex;
}

.tree__one,
.tree__two,
.tree__three,
.tree__four,
.tree__five,
.tree__six {
    @include containerDefault(flex, 100%, 16.25rem, 20);
    justify-content: center;
    align-items: center;
    .tree__base {
        @include containerDefault(block, 3.125rem, 3.125rem, 12);
        margin-bottom: 2.5rem;
        border-radius: 50%;
        background-color: $background-leaf;
        &__leaf {
            position: fixed;
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            background-color: $background-leaf;
        }
        &__leaf--one {
            @include containThreeLeaf(-0.5rem, -1.125rem);
        }
        &__leaf--two {
            @include containThreeLeaf(-1.25rem, 0.125rem);
        }
        &__leaf--three {
            @include containThreeLeaf(-0.9375rem, 1.25rem);
        }
        &__leaf--four {
            @include containThreeLeaf( 0.3125rem, 1.75rem);
        }
        &__leaf--five {
            @include containThreeLeaf( 1.5625rem, 1.5625rem);
        }
        &__leaf--six {
            @include containThreeLeaf( 2.0625rem, -0.125rem);
        }
        &__leaf--seven {
            @include containThreeLeaf( 0.9375rem, -1.25rem);
        }
    }
}

.tree__two {
    @include baseTree(scale(0.5), 10.625rem);
    margin-left: 65.625rem;
    @media screen and (width > 1700px) {
        @include baseTree(scale(0.5), 16.625rem);        
    }
}

.tree__three {
    @include baseTree(scale(0.5), 10.625rem);
    margin-right: 1050px;
    @media screen and (width > 1700px) {
        @include baseTree(scale(0.5), 16.625rem);        
    }
}

.tree__four {
    @include baseTree(scale(1.1), 10.625rem);
    margin-right: 55rem;
    @media screen and (width > 1700px) {
        @include baseTree(scale(1.1), 14rem);        
    }
}

.tree__five {
    @include baseTree(scale(1.1), 10.625rem);
    margin-left: 55rem;
    @media screen and (width > 1700px) {
        @include baseTree(scale(1.1), 14rem);        
    }
}

.tree__six {
    @include baseTree(scale(2.4), 12.1875rem);
    margin-right: 35.625rem;
}

.tree__one {
    @include baseTree(scale(2.4), 12.1875rem);
    margin-left: 35.625rem;
}

.tree__trunk {
    position: fixed;
    width: 0.5625rem;
    height: 4.6875rem;
    background-color: $background-trunk;
    margin-top: 4.6875rem;
    z-index: 11;
    transition: all 2s ease;
}